<!DOCTYPE html>
<html>
    <head>
        <title>P&P | IMAGES_MANAGE</title>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="/media/styles/elegant-press.css" type="text/css" />
        <style>html,body{margin:0px;}</style>
        <script src="/media/scripts/elegant-press.js" type="text/javascript"></script>
    </head>
    <body>
		<div class="main-container">
			<table cellspacing="0" cellpadding="0" bgcolor="#AFC7C7">
				<tr>
				{% if user.is_authenticated %}
					{% if not user.is_staff %}
						<td width=15% >
							<a href="/{{ user.username }}/HomePage/">
								<img src="/media/images/home.png" />
							</a>
						</td>
						<td width=5% >
							<a href="/{{ user.username }}/GalleryPage/">
								<img src="/media/images/gallary.png" />
							</a>
						</td>
						<td width=5% >
							<a href="/{{ user.username }}/OrderPage/">
								<img src="/media/images/order.png" />
							</a>
						</td>
						<td width=5% >
							<a href="/{{ user.username }}/ContactPage/">
								<img src="/media/images/contact.png" />
							</a>
						</td>
						<td width=45% ></td>
						<td width=10% style="padding-right: 0px">
							<div align=Right>
								<form
									action="/{{ user.username }}/SelfDetailPage/"
									method="post"
								>
								{% csrf_token %}
									<input type="submit" value="{{ user.username }}" />
								</form>
							</div>
						</td>
						<td width=5% style="padding-right: 0px">
							<div align=Right>
								<form action="/AllUserLogoutFunction/" method="post">{% csrf_token %}
									<input type="submit" value="Logout" />
								</form>
							</div>
						</td>
					{% endif %}
					{% if user.is_staff %}
						<td width=15% >
							<a href="/{{ user.username }}/HomePage/">
								<img src="/media/images/home.png" />
							</a>
						</td>
						<td width=10% >
							<div align=Right>
								<a href="/{{ user.username }}/AdminViewAllMemberOrder/">
									<img src="/media/images/Order_List.png" />
								</a>
							</div>
						</td>
						<td width=10% >
							<div align=Right>
								<a href="/{{ user.username }}/AdminViewMemberListPage/">
									<img src="/media/images/Member_List.png" />
								</a>
							</div>
						</td>
						<td width=70% ></td>
						<td width=10% style="padding-right: 0px">
							<div align=Right>
								<form action="/{{ user.username }}/SelfDetailPage/" method="post">
								{% csrf_token %}
									<input type="submit" value="{{ user.username }}" />
								</form>
							</div>
						</td>
						<td width=5% style="padding-right: 0px">
							<div align=Right>
								<form action="/AllUserLogoutFunction/" method="post">{% csrf_token %}
									<input type="submit" value="Logout" />
								</form>
							</div>
						</td>
					{% endif %}
				{% endif %}
				{% if not user.is_authenticated %}
					<td width=15% >
						<a href="/HomePage/">
							<img src="/media/images/home.png" />
						</a>
					</td>
					<td width=5% >
						<a href="/ContactPage/">
							<img src="/media/images/contact.png" />
						</a>
					</td>
					<td width=50% ></td>
					<div align=Right>
						<form method="post" action="/AllUserLoginFunction/">{% csrf_token %}
							<td width=10% style="padding-right: 0px">
								<left>
									<span>Username</span>
								</left>
								<br />
								<input type="text" name=username />
							</td>
							<td width=10% style="padding-right: 0px">
								<left>
									<span>Password</span>
								</left>
								<br />
								<input type="Password" name=password />
							</td>
							<td width=5% style="padding-right: 0px">
								<input type="submit" value="Login" />
							</td>
						</form>
					</div>
					<td width=5% style="padding-right: 0px">
						<div align=Right>
							<form method="post" action="/RegisterPage/">{% csrf_token %}
								<input type="submit" value="Register"  />
							</form>
						</div>
					</td>
				{% endif %}
				</tr>
			</table>
			<div class="clear"></div>
		</div>
        <div class="main-container">
  		    <div class="container1">
                <table>
        	        <tr>
                        <td width=90% style="padding-Right: 0px"><h6>Images list</h6></td>
				        <td width=20% style="padding-left: 0px">
	    			        <form action="/{{ user.username }}/AdminViewMemberAlbums/{{username}}/" method="post">{% csrf_token %}
			                    <input type="submit" value="Back to Album list" />
			                </form>
				        </td>
                    </tr>
                </table>
        	    <div class="box">
				{% if messages %}
					<table><tr>
					{% for message in messages %}
						<td>
							<div id="respond">
							{% if message.tags == "error" %}
								<p style="color: red;">{{ message }}</p>
							{% elif message.tags == "success" %}
								<p style="color: green;">{{ message }}</p>
							{% endif %}
							</div>
						</td>
					{% endfor %}
					</tr></table>
				{% endif %}
                    <table border="1" cellpadding="0" cellspacing="0">
                        <tr bgcolor="#AFC7C7" >
                            <td width="20%" style="padding-left: 0px">
                            <div align=left>Imagename&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                            <td width="15%" style="padding-left: 0px">
                            <div align=left>Albumname&nbsp;</td>
                            <td width="10%" style="padding-left: 0px">
                            <div align=left>width&nbsp;</td>
                            <td width="10" style="padding-left: 0px">
                            <div align=left>height&nbsp;</td>
                            <td width="25%" style="padding-left: 0px">
                            <div align=left>Dateupload&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                            <td width="25%" style="padding-right: 0px" ></td>
                            <td width="25%" style="padding-right: 0px" ></td>
                        </tr>
                        {% for image in IMAGES %}
                        <tr>
                            <td width="20%" style="padding-left: 0px"><div id="imagename" align=left>{{image.imagename}}</div></td>
                            <td width="15%" style="padding-left: 0px"><div id="albumname" align=left>{{image.album.albumname}}</div></td>
                            <td width="10%" style="padding-left: 0px"><div id="width" align=left>{{image.width}} px</div></td>
                            <td width="10%" style="padding-left: 0px"><div id="height" align=left>{{image.height}} px</div></td>
                            <td width="25%" style="padding-left: 0px"><div id="dateupload" align=left>{{image.dateupload}}</div></td>
                            <td width="25%" style="padding-right: 0px" ></td>
                            <td width="25%" style="padding-right: 0px">
                                <div align=Right>
                                    <form action="/{{user.username}}/OrderPage/AlbumName/{{image.album.albumname}}/PictureName/{{image.imagename}}/MemberSelectPaperTypePage/{{image.album.user.user.username}}/" method="post">{% csrf_token %}
                                        <input type="hidden" value="{{image.imagename}}" name="imagename">
                                        <input type="submit" value="Add this image to print" />
                                    </form>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </body>
</html>  
