<!DOCTYPE html>
<html>
	<head>
	    <title>P&P | Order Album</title>
	    <meta charset="utf-8" />
	    <link rel="stylesheet" href="/media/styles/elegant-press.css" type="text/css" />
	    <style>html,body{margin:0px;}</style>
	    <script src="/media/scripts/elegant-press.js" type="text/javascript"></script>
		{{ dateTimeForms.media }}
	</head>
    <body>
		<div class="main-container">
			<table cellspacing="0" cellpadding="0" bgcolor="#AFC7C7">
				<tr>
				{% if user.is_authenticated %}
					{% if not user.is_staff %}
						<td width=15% >
							<a href="/{{ user.username }}/HomePage/">
								<img src="/media/images/home.png" />
							</a>
						</td>
						<td width=5% >
							<a href="/{{ user.username }}/GalleryPage/">
								<img src="/media/images/gallary.png" />
							</a>
						</td>
						<td width=5% >
							<a href="/{{ user.username }}/OrderPage/">
								<img src="/media/images/order.png" />
							</a>
						</td>
						<td width=5% >
							<a href="/{{ user.username }}/ContactPage/">
								<img src="/media/images/contact.png" />
							</a>
						</td>
						<td width=45% ></td>
						<td width=10% style="padding-right: 0px">
							<div align=Right>
								<form
									action="/{{ user.username }}/SelfDetailPage/"
									method="post"
								>
								{% csrf_token %}
									<input type="submit" value="{{ user.username }}" />
								</form>
							</div>
						</td>
						<td width=5% style="padding-right: 0px">
							<div align=Right>
								<form action="/AllUserLogoutFunction/" method="post">{% csrf_token %}
									<input type="submit" value="Logout" />
								</form>
							</div>
						</td>
					{% endif %}
					{% if user.is_staff %}
						<td width=15% >
							<a href="/{{ user.username }}/HomePage/">
								<img src="/media/images/home.png" />
							</a>
						</td>
						<td width=10% >
							<div align=Right>
								<a href="/{{ user.username }}/AdminViewAllMemberOrder/">
									<img src="/media/images/Order_List.png" />
								</a>
							</div>
						</td>
						<td width=10% >
							<div align=Right>
								<a href="/{{ user.username }}/AdminViewMemberListPage/">
									<img src="/media/images/Member_List.png" />
								</a>
							</div>
						</td>
						<td width=70% ></td>
						<td width=10% style="padding-right: 0px">
							<div align=Right>
								<form action="/{{ user.username }}/SelfDetailPage/" method="post">
								{% csrf_token %}
									<input type="submit" value="{{ user.username }}" />
								</form>
							</div>
						</td>
						<td width=5% style="padding-right: 0px">
							<div align=Right>
								<form action="/AllUserLogoutFunction/" method="post">{% csrf_token %}
									<input type="submit" value="Logout" />
								</form>
							</div>
						</td>
					{% endif %}
				{% endif %}
				{% if not user.is_authenticated %}
					<td width=15% >
						<a href="/HomePage/">
							<img src="/media/images/home.png" />
						</a>
					</td>
					<td width=5% >
						<a href="/ContactPage/">
							<img src="/media/images/contact.png" />
						</a>
					</td>
					<td width=50% ></td>
					<div align=Right>
						<form method="post" action="/AllUserLoginFunction/">{% csrf_token %}
							<td width=10% style="padding-right: 0px">
								<left>
									<span>Username</span>
								</left>
								<br />
								<input type="text" name=username />
							</td>
							<td width=10% style="padding-right: 0px">
								<left>
									<span>Password</span>
								</left>
								<br />
								<input type="Password" name=password />
							</td>
							<td width=5% style="padding-right: 0px">
								<input type="submit" value="Login" />
							</td>
						</form>
					</div>
					<td width=5% style="padding-right: 0px">
						<div align=Right>
							<form method="post" action="/RegisterPage/">{% csrf_token %}
								<input type="submit" value="Register"  />
							</form>
						</div>
					</td>
				{% endif %}
				</tr>
			</table>
			<div class="clear"></div>
		</div>
	    <div class="main-container">
			<div class="container1">
			    <h6>Add to print page</h6>
			    <div class="box">
					<h3>ยืนยันการสังพิมพ์รูปภาพในอัลบัม {{albumname}}</h3>	
					<table>
						<form action="/MemberConfirmOrderFunction/" method="post">{% csrf_token %}
							<tr>
								<td width=30% style="padding-left: 0px"></td>
								<td width=80% >
									<input type="hidden" name="albumname" value="{{albumname}}" />
									<input type="hidden" name="username" value="{{username}}" />
									<input type="hidden" name="order" value="{{order}}" />
									<input type="hidden" name="date_time" value="{{order.date_time|date:'c'}}" />
								</td>
							</tr>
							<tr>
							{% if errors %}
								<td>
									<div id="respond"><p style="color: red;">{{errors}}</p></div>
								</td>
							{% endif %}
							{% if success %}       		 	
								<td>
									<div id="respond"><p style="color: green;">{{success}}</p></div>
								</td>
							{% endif %}
							</tr>
							<tr>
								<td width=15% style="padding-left: 0px">
									<p><label for="order_datetime"><small><h6>Date/Time(เวลาในการสั่งพิมพ์)</h6></small></label></p>
								</td>
								<td width=15% style="padding-left: 0px">
									<div id="order_datetime"><h6>{{order.date_time|date:'d/n/y G:i:s'}}</h6></div>
								</td>
								<td width=70% ></td>
							</tr>
							<tr>
								<td width=15% style="padding-left: 0px">
									<p><label for="order_paper_margin"><small><h6>margin</h6></small></label></p>
								</td>
								<td width=15% style="padding-left: 0px">
									<div id="order_paper_margin"><h6>{{order.get_paper_margin_display}}</h6></div>
								</td>
								<td width=70% ></td>
							</tr>
							<tr>
								<td width=15% style="padding-left: 0px">
									<p><label for="order_paper_type"><small><h6>Type</h6></small></label></p>
								</td>
								<td width=15% style="padding-left: 0px">
									<div id="order_paper_type"><h6>{{order.get_paper_type_display}}</h6></div>
								</td>
								<td width=70% ></td>
							</tr>
							<tr>
								<td width=15% style="padding-left: 0px">
									<p><label for="order_paper_surface"><small><h6>surface</h6></small></label></p>
								</td>
								<td width=15% style="padding-left: 0px">
									<div id="order_paper_surface"><h6>{{order.get_paper_surface_display}}</h6></div>
								</td>
								<td width=70% ></td>
							</tr>
							<tr>
								<td width=15% style="padding-left: 0px">
									<p><label for="order_paper_size"><small><h6>size</h6></small></label></p>
								</td>						
								<td width=15% style="padding-left: 0px">
									<div id="order_paper_size"><h6>{{order.get_paper_size_display}}</h6></div>
								</td>
								<td width=70% ></td>
							</tr>
							<tr>
								<td width=15% style="padding-left: 0px">
									<p><label for="order_amount_picture"><small><h6>Amount of picture</h6></small></label></p>
								</td>
								<td width=15% style="padding-left: 0px">
									<div id="order_amount_picture"><h6>{{order.number_of_photos}} Picture</h6></div>
								</td>
								<td width=70% ></td>
							</tr>
							<tr>
								<td width=15% style="padding-left: 0px">
									<p><label for="order_price_per_picture"><small><h6>Price/Picture</h6></small></label></p>
								</td>
								<td width=15% style="padding-left: 0px">
									<div id="order_price_per_picture"><h6>{{order.get_price_perpic_display}} Bath</h6></div>
								</td>
								<td width=70% ></td>
							</tr>
							<tr>
								<td width=15% style="padding-left: 0px">
									<p><label for="order_price_total"><small><h6>Price Total</h6></small></label></p>
								</td>
								<td width=15% style="padding-left: 0px">
									<div id="order_price_total"><h6>{{order.price_total}} Bath</h6></div>
								</td>
								<td width=70% ></td>
							</tr>
						</table>
						<table><tr><td>
						<hr align= “center" size= “1" width= 90%" color= “#1E90FF">
						</td></tr></table>
						<table>
							<tr>
								<td width=15% style="padding-left: 0px">
									<p><label for="order_datetime_paid"><small><h6>วันเวลาที่โอนเงิน</h6></small></label></p>
								</td>
								<td width=70% >
									<table>
										<tr>
											<td width=1% style="padding-left: 0px">
												{% for radio in dateTimeForms.day_paid %}
													<div id="day_paid">{{ radio }}</div>
												{% endfor %}
											</td>
											<td width=2% style="padding-left: 0px">
												{% for radio in dateTimeForms.month_paid %}
													<div id="month_paid">{{ radio }}</div>
												{% endfor %}
											</td>
											<td width=2% style="padding-left: 0px">
												{% for radio in dateTimeForms.year_paid %}
													<div id="year_paid">{{ radio }}</div>
												{% endfor %}
											</td>
											<td width=1% style="padding-left: 0px">
												<b>-</b>
											</td>
											<td width=1% style="padding-left: 0px">
												{% for radio in dateTimeForms.hour_paid %}
													<div id="hour_paid">{{ radio }}</div>
												{% endfor %}
											</td>
											<td width=1% style="padding-left: 0px">
												<b>:</b>
											</td>
											<td width=1% style="padding-left: 0px">
												{% for radio in dateTimeForms.minute_paid %}
													<div id="minute_paid">{{ radio }}</div>
												{% endfor %}
											</td>
											<td width=70% ></td>
										</tr>
									</table>
								<td>
							</tr>
							<tr>
								<td width=15% style="padding-left: 0px">
									<p><label for="image"><small><h6>จำนวนเงิน</h6></small></label></p>
								</td>
								<td width=15% style="padding-left: 0px">
									<h6><input type="text" name="cost" value="0.00" /> Bath</h6>
								</td>
								<td width=70% ></td>
							</tr>
							<tr>
								<td><input type="submit" value="Confirm" /></td>
							</tr>
						</form>
						<form method="post" role="form">
					</table>
				</div>
			</div>
		    <div class="clear"></div>
		</div>
	</body>
</html>

