<!DOCTYPE html>
<html>
    <head>
        <title>P&P | LOG_ORDER</title>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="/media/styles/elegant-press.css" type="text/css" />
        <style>html,body{margin:0px;}</style>
        <script src="/media/scripts/elegant-press.js" type="text/javascript"></script>
    </head>
    <body>
		<div class="main-container">
			<table cellspacing="0" cellpadding="0" bgcolor="#AFC7C7">
				<tr>
				{% if user.is_authenticated %}
					{% if not user.is_staff %}
						<td width=15% >
							<a href="/{{ user.username }}/HomePage/">
								<img src="/media/images/home.png" />
							</a>
						</td>
						<td width=5% >
							<a href="/{{ user.username }}/GalleryPage/">
								<img src="/media/images/gallary.png" />
							</a>
						</td>
						<td width=5% >
							<a href="/{{ user.username }}/OrderPage/">
								<img src="/media/images/order.png" />
							</a>
						</td>
						<td width=5% >
							<a href="/{{ user.username }}/ContactPage/">
								<img src="/media/images/contact.png" />
							</a>
						</td>
						<td width=45% ></td>
						<td width=10% style="padding-right: 0px">
							<div align=Right>
								<form
									action="/{{ user.username }}/SelfDetailPage/"
									method="post"
								>
								{% csrf_token %}
									<input type="submit" value="{{ user.username }}" />
								</form>
							</div>
						</td>
						<td width=5% style="padding-right: 0px">
							<div align=Right>
								<form action="/AllUserLogoutFunction/" method="post">{% csrf_token %}
									<input type="submit" value="Logout" />
								</form>
							</div>
						</td>
					{% endif %}
					{% if user.is_staff %}
						<td width=15% >
							<a href="/{{ user.username }}/HomePage/">
								<img src="/media/images/home.png" />
							</a>
						</td>
						<td width=10% >
							<div align=Right>
								<a href="/{{ user.username }}/AdminViewAllMemberOrder/">
									<img src="/media/images/Order_List.png" />
								</a>
							</div>
						</td>
						<td width=10% >
							<div align=Right>
								<a href="/{{ user.username }}/AdminViewMemberListPage/">
									<img src="/media/images/Member_List.png" />
								</a>
							</div>
						</td>
						<td width=70% ></td>
						<td width=10% style="padding-right: 0px">
							<div align=Right>
								<form action="/{{ user.username }}/SelfDetailPage/" method="post">
								{% csrf_token %}
									<input type="submit" value="{{ user.username }}" />
								</form>
							</div>
						</td>
						<td width=5% style="padding-right: 0px">
							<div align=Right>
								<form action="/AllUserLogoutFunction/" method="post">{% csrf_token %}
									<input type="submit" value="Logout" />
								</form>
							</div>
						</td>
					{% endif %}
				{% endif %}
				{% if not user.is_authenticated %}
					<td width=15% >
						<a href="/HomePage/">
							<img src="/media/images/home.png" />
						</a>
					</td>
					<td width=5% >
						<a href="/ContactPage/">
							<img src="/media/images/contact.png" />
						</a>
					</td>
					<td width=50% ></td>
					<div align=Right>
						<form method="post" action="/AllUserLoginFunction/">{% csrf_token %}
							<td width=10% style="padding-right: 0px">
								<left>
									<span>Username</span>
								</left>
								<br />
								<input type="text" name=username />
							</td>
							<td width=10% style="padding-right: 0px">
								<left>
									<span>Password</span>
								</left>
								<br />
								<input type="Password" name=password />
							</td>
							<td width=5% style="padding-right: 0px">
								<input type="submit" value="Login" />
							</td>
						</form>
					</div>
					<td width=5% style="padding-right: 0px">
						<div align=Right>
							<form method="post" action="/RegisterPage/">{% csrf_token %}
								<input type="submit" value="Register"  />
							</form>
						</div>
					</td>
				{% endif %}
				</tr>
			</table>
			<div class="clear"></div>
		</div>
    	<div class="main-container">
  		    <div class="container1">
       		    <h6>Picture Order</h6>
        	    <div class="box">
					{% if message %}
					<table>
						{% for message in messages %}
						<tr>
							<td>
								<div id="respond">
								{% if message.tags == "error" %}
									<p style="color: red;">{{ message }}</p>
								{% elif message.tags == "success" %}
									<p style="color: green;">{{ message }}</p>
								{% endif %}
								</div>
							</td>
						</tr>
						{% endfor %}
					</table>
					{% endif %}
                    <table border="1" cellpadding="0" cellspacing="0">
			            {% if not order %}
			            <tr>
				            <td><center><a href="/{{ user.username }}/gallerypage/albumpage/"><img src="/media/images/nothaveo.jpg" /></a></center></td>
			            </tr>
			            {% endif %}
			            {% if order %}
  			            <tr bgcolor="#AFC7C7" >
			                <td width="15%" style="padding-left: 0px">
				                <div align=left>&nbsp;Date,Time&nbsp;</div></td>
			                <td width="5%" style="padding-left: 0px">
				                <div align=center>Status&nbsp;</div></td>
			                <td width="5%" style="padding-left: 0px">
				                <div align=center>Surface&nbsp;</div></td>
			                <td width="10%" style="padding-left: 0px">
				                <div align=center>Type&nbsp;</div></td>
			                <td width="5%" style="padding-left: 0px">
				                <div align=center>Margin&nbsp;</div></td>
			                <td width="5%" style="padding-left: 0px">
				                <div align=center>Size&nbsp;</div></td>
			                <td width="5%" style="padding-left: 0px">
				                <div align=center>Price/Picture&nbsp;</div></td>
			                <td width="10%" style="padding-left: 0px">
				                <div align=center>Amount&nbsp;</div></td>
			                <td width="10%" style="padding-left: 0px">
				                <div align=center>Price Total&nbsp;</div></td>
			                <td width="5%" style="padding-left: 0px">
				                <div align=center></div></td>
			                <td width="5%" style="padding-left: 0px">
				                <div align=center></div></td>
			            </tr>
			            <tr><td></td></tr>
			            {% for order in order %}
			            <tr>
                            <td width="10%" style="padding-left: 0px"><div id="order-time" align=left>{{order.date_time|date:'Y-m-d H:i'}}</td>
                            <td width="2%" style="padding-left: 0px"><div id="order-status" align=center>{{order.get_status_display}}</div></td>
                            <td width="2%" style="padding-left: 0px"><div id="order-surface" align=center>{{order.get_paper_surface_display}}</div></td>
                            <td width="2%" style="padding-left: 0px"><div id="order-type" align=center>{{order.get_paper_type_display}}</div></td>
                            <td width="2%" style="padding-left: 0px"><div id="order-margin" align=center>{{order.get_paper_margin_display}}</div></td>
                            <td width="2%" style="padding-left: 0px"><div id="order-size" align=center>{{order.get_paper_size_display}}</div></td>
                            <td width="2%" style="padding-left: 0px"><div id="order-price-per_picture" align=center>{{order.get_price_perpic_display}} Baht</div></td>
                            <td width="2%" style="padding-left: 0px"><div id="order-amount-picture" align=center>{{order.number_of_photos}} photos</div></td>
                            <td width="10%" style="padding-left: 0px"><div id="order-price-total" align=center>{{order.price_total}} Baht</div></td>
                            <td width="2%" style="padding-right: 0px">
								{% if order.payment_is_confirm %}
								<div align=Right>
									<form action="/{{order.user.user.username}}/OrderPage/ConfirmOrderDetail/{{order.date_time|date:'c'}}/" method="post" >{% csrf_token %}		
										<input type="hidden" name="datetime_order_extend" value="{{order.date_time|date:'c'}}" />
										<input type="submit" value="   Confirmed   ">
									</form>
								</div>
								{% endif %}
                                {% if not order.payment_is_confirm %}
								<div align=Right>
                                    <form action="/{{order.user.user.username}}/OrderPage/ConfirmOrder/{{order.date_time|date:'c'}}/" method="post" >{% csrf_token %}		
                                        <input type="hidden" name="datetime_order" value="{{order.date_time|date:'c'}}" />
										<input type="submit" value="Confirm order">		
                                    </form>
                                </div>
								{% endif %}
            			    </td>
			                <td width="2%" style="padding-right: 0px">
				                <div align=Right>
					                <form action="/{{order.user.user.username}}/OrderPage/ExtendOrder/{{order.date_time|date:'c'}}/" method="post" >{% csrf_token %}		
						                <input type="hidden" name="datetime_order_extend" value="{{order.date_time|date:'c'}}" />
										<input type="submit" value="Picture in order">   
                                    </form>
				                </div>
			                </td>
                        </tr>
			            {% endfor %}
    		            {% endif %}	
            		</table> 
	            </div>        
                <div class="clear"></div>
            </div>
        </div>    
    </body>
</html>
