<!DOCTYPE html>
<html>
	<head>
	    <title>P&P | Order Album</title>
	    <meta charset="utf-8" />
	    <link rel="stylesheet" href="/media/styles/elegant-press.css" type="text/css" />
	    <style>html,body{margin:0px;}</style>
	    <script src="/media/scripts/elegant-press.js" type="text/javascript"></script>
	</head>
    <body>
		<div class="main-container">
			<table cellspacing="0" cellpadding="0" bgcolor="#AFC7C7">
				<tr>
				{% if user.is_authenticated %}
					{% if not user.is_staff %}
						<td width=15% >
							<a href="/{{ user.username }}/HomePage/">
								<img src="/media/images/home.png" />
							</a>
						</td>
						<td width=5% >
							<a href="/{{ user.username }}/GalleryPage/">
								<img src="/media/images/gallary.png" />
							</a>
						</td>
						<td width=5% >
							<a href="/{{ user.username }}/OrderPage/">
								<img src="/media/images/order.png" />
							</a>
						</td>
						<td width=5% >
							<a href="/{{ user.username }}/ContactPage/">
								<img src="/media/images/contact.png" />
							</a>
						</td>
						<td width=45% ></td>
						<td width=10% style="padding-right: 0px">
							<div align=Right>
								<form
									action="/{{ user.username }}/SelfDetailPage/"
									method="post"
								>
								{% csrf_token %}
									<input type="submit" value="{{ user.username }}" />
								</form>
							</div>
						</td>
						<td width=5% style="padding-right: 0px">
							<div align=Right>
								<form action="/AllUserLogoutFunction/" method="post">{% csrf_token %}
									<input type="submit" value="Logout" />
								</form>
							</div>
						</td>
					{% endif %}
					{% if user.is_staff %}
						<td width=15% >
							<a href="/{{ user.username }}/HomePage/">
								<img src="/media/images/home.png" />
							</a>
						</td>
						<td width=10% >
							<div align=Right>
								<a href="/{{ user.username }}/AdminViewAllMemberOrder/">
									<img src="/media/images/Order_List.png" />
								</a>
							</div>
						</td>
						<td width=10% >
							<div align=Right>
								<a href="/{{ user.username }}/AdminViewMemberListPage/">
									<img src="/media/images/Member_List.png" />
								</a>
							</div>
						</td>
						<td width=70% ></td>
						<td width=10% style="padding-right: 0px">
							<div align=Right>
								<form action="/{{ user.username }}/SelfDetailPage/" method="post">
								{% csrf_token %}
									<input type="submit" value="{{ user.username }}" />
								</form>
							</div>
						</td>
						<td width=5% style="padding-right: 0px">
							<div align=Right>
								<form action="/AllUserLogoutFunction/" method="post">{% csrf_token %}
									<input type="submit" value="Logout" />
								</form>
							</div>
						</td>
					{% endif %}
				{% endif %}
				{% if not user.is_authenticated %}
					<td width=15% >
						<a href="/HomePage/">
							<img src="/media/images/home.png" />
						</a>
					</td>
					<td width=5% >
						<a href="/ContactPage/">
							<img src="/media/images/contact.png" />
						</a>
					</td>
					<td width=50% ></td>
					<div align=Right>
						<form method="post" action="/AllUserLoginFunction/">{% csrf_token %}
							<td width=10% style="padding-right: 0px">
								<left>
									<span>Username</span>
								</left>
								<br />
								<input type="text" name=username />
							</td>
							<td width=10% style="padding-right: 0px">
								<left>
									<span>Password</span>
								</left>
								<br />
								<input type="Password" name=password />
							</td>
							<td width=5% style="padding-right: 0px">
								<input type="submit" value="Login" />
							</td>
						</form>
					</div>
					<td width=5% style="padding-right: 0px">
						<div align=Right>
							<form method="post" action="/RegisterPage/">{% csrf_token %}
								<input type="submit" value="Register"  />
							</form>
						</div>
					</td>
				{% endif %}
				</tr>
			</table>
			<div class="clear"></div>
		</div>
	    <div class="main-container">
			<div class="container1">
		    	<h6>Add to print page</h6>
		    	<div class="box">
					<h6>ตัวเลือกในการสั่งพิมพ์รูปในอัลบั้ม {{albumname}}</h6>
					<form action="/{{ user.username }}/OrderPage/AlbumName/{{albumname}}/MemberCheckOrderAndSubmit/{{usernamepost}}/" method="post">{% csrf_token %}	
		        		<table>
						{% if errors %}
							<tr>
								<td><div id="respond"><p style="color: red;">{{ errors }}</p></div></td>
							</tr>
						{% endif %}
						{% if success %}       		 	
							<tr>
								<td><div id="respond"><p style="color: green;">{{ success }}</p></div></td>
							</tr>
						{% endif %}
							<tr>
								<td width=30% style="padding-left: 0px">
		                        	<p><label for="image"><small><h6>Paper margin</h6></small></label></p>
								</td>
								<td width=80%>
									{% for radio in paper.margin %}
									<div id="print-types">{{ radio }}</div>
									{% endfor %}
								</td>
							</tr>
							<tr>
								<td width=30% style="padding-left: 0px">
		                        	<p><label for="image"><small><h6>Paper size</h6></small></label></p>
								</td>
								<td width=80%>
									{% if types == 'S' %}
										{% if surface == 'M' %}
											{% for radio in paper.size_super_matt %}
												<div id="print-size">{{ radio }}</div>
											{% endfor %}							
										{% elif surface == 'G' %}
											{% for radio in paper.size_super_grossy %}
												<div id="print-size">{{ radio }}</div>
											{% endfor %}							
										{% endif %}
									{% elif types == 'K' %}
										{% if surface == 'M' %}
											{% for radio in paper.size_koduk_matt %}
												<div id="print-size">{{ radio }}</div>
											{% endfor %}
										{% elif surface == 'G' %}
											{% for radio in paper.size_koduk_grossy %}
												<div id="print-size">{{ radio }}</div>
											{% endfor %}							
										{% endif %}
									{% elif types == 'F' %}
										{% if surface == 'M' %}
											{% for radio in paper.size_fuji_matt %}
												<div id="print-size">{{ radio }}</div>
											{% endfor %}
										{% elif surface == 'G' %}
											{% for radio in paper.size_fuji_grossy %}
												<div id="print-size">{{ radio }}</div>
											{% endfor %}							
										{% endif %}
									{% endif %}
									<input type="hidden" name="albumname" value="{{albumname}}" />
							       	<input type="hidden" name="username" value="{{username}}" />
							       	<input type="hidden" name="usernamepost" value="{{usernamepost}}" />
									<input type="hidden" name="types" value="{{types}}" />
									<input type="hidden" name="surface" value="{{surface}}" />
									<br>
								</td>
							</tr>
						</table>
						<table>
							<tr>
								<td width=10% style="padding-left: 0px"><input type="submit" value="Next" /></td>
							
					</form>
					<form action="/{{ user.username }}/OrderPage/AlbumName/{{albumname}}/MemberSelectPaperSurfacePage/{{usernamepost}}/" method="post">{% csrf_token %}			
								<td width=10% style="padding-left: 0px">
									<input type="hidden" name="albumname" value="{{albumname}}" />
									<input type="hidden" name="usernamepost" value="{{usernamepost}}" />
									<input type="hidden" name="username" value="{{username}}" />
									<input type="hidden" name="types" value="{{types}}" />
									<input type="hidden" name="surface" value="{{surface}}" />
									<input type="submit" value="Back" />
								</td>
								<td width=80% style="padding-left: 0px"></td>
							</tr>
					</form>
						</table>
			        <div class="clear"></div>
		        </div>
		    </div>
		</div>
	</body>
</html>
