<!DOCTYPE html>
<html>
	<head>
		<title>P&P | Login</title>
		<meta charset="utf-8" />
		<link rel="stylesheet" href="/media/styles/elegant-press.css" type="text/css" />
		<style>html,body{margin:0px;}</style>
		<script src="/media/scripts/elegant-press.js" type="text/javascript"></script>
	</head>
	<body>
		<div class="main-container">
			<table cellspacing="0" cellpadding="0" bgcolor="#AFC7C7">
				<tr>
				{% if user.is_authenticated %}
					{% if not user.is_staff %}
						<td width=15% >
							<a href="/{{ user.username }}/HomePage/">
								<img src="/media/images/home.png" />
							</a>
						</td>
						<td width=5% >
							<a href="/{{ user.username }}/GalleryPage/">
								<img src="/media/images/gallary.png" />
							</a>
						</td>
						<td width=5% >
							<a href="/{{ user.username }}/OrderPage/">
								<img src="/media/images/order.png" />
							</a>
						</td>
						<td width=5% >
							<a href="/{{ user.username }}/ContactPage/">
								<img src="/media/images/contact.png" />
							</a>
						</td>
						<td width=45% ></td>
						<td width=10% style="padding-right: 0px">
							<div align=Right>
								<form
									action="/{{ user.username }}/SelfDetailPage/"
									method="post"
								>
								{% csrf_token %}
									<input type="submit" value="{{ user.username }}" />
								</form>
							</div>
						</td>
						<td width=5% style="padding-right: 0px">
							<div align=Right>
								<form action="/AllUserLogoutFunction/" method="post">{% csrf_token %}
									<input type="submit" value="Logout" />
								</form>
							</div>
						</td>
					{% endif %}
					{% if user.is_staff %}
						<td width=15% >
							<a href="/{{ user.username }}/HomePage/">
								<img src="/media/images/home.png" />
							</a>
						</td>
						<td width=10% >
							<div align=Right>
								<a href="/{{ user.username }}/AdminViewAllMemberOrder/">
									<img src="/media/images/Order_List.png" />
								</a>
							</div>
						</td>
						<td width=10% >
							<div align=Right>
								<a href="/{{ user.username }}/AdminViewMemberListPage/">
									<img src="/media/images/Member_List.png" />
								</a>
							</div>
						</td>
						<td width=70% ></td>
						<td width=10% style="padding-right: 0px">
							<div align=Right>
								<form action="/{{ user.username }}/SelfDetailPage/" method="post">
								{% csrf_token %}
									<input type="submit" value="{{ user.username }}" />
								</form>
							</div>
						</td>
						<td width=5% style="padding-right: 0px">
							<div align=Right>
								<form action="/AllUserLogoutFunction/" method="post">{% csrf_token %}
									<input type="submit" value="Logout" />
								</form>
							</div>
						</td>
					{% endif %}
				{% endif %}
				{% if not user.is_authenticated %}
					<td width=15% >
						<a href="/HomePage/">
							<img src="/media/images/home.png" />
						</a>
					</td>
					<td width=5% >
						<a href="/ContactPage/">
							<img src="/media/images/contact.png" />
						</a>
					</td>
					<td width=50% ></td>
					<div align=Right>
						<form method="post" action="/AllUserLoginFunction/">{% csrf_token %}
							<td width=10% style="padding-right: 0px">
								<left>
									<span>Username</span>
								</left>
								<br />
								<input type="text" name=username />
							</td>
							<td width=10% style="padding-right: 0px">
								<left>
									<span>Password</span>
								</left>
								<br />
								<input type="Password" name=password />
							</td>
							<td width=5% style="padding-right: 0px">
								<input type="submit" value="Login" />
							</td>
						</form>
					</div>
					<td width=5% style="padding-right: 0px">
						<div align=Right>
							<form method="post" action="/RegisterPage/">{% csrf_token %}
								<input type="submit" value="Register"  />
							</form>
						</div>
					</td>
				{% endif %}
				</tr>
			</table>
			<div class="clear"></div>
		</div>
		<div class="main-container">
			<div class="container1">
				<h6>Login page</h6>
				<div class="box">
					<div class="portfolio">
						<div class="tagline_left">
							<table>
								<form method="post" action="/AllUserLoginFunction/">{% csrf_token %}
									<tr>
										<td width=25% style="padding-left: 0px">
											<p>
												<label for="image">
													<small>
														<h6>Username&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h6>
													</small>
												</label>
											</p>
										</td>
										<td width=15% style="padding-left: 0px">
											<input type="text" name=username />
										</td>
										<td width=60% ></td>
									</tr>
									<tr>
										<td width=25% style="padding-left: 0px">
											<p>
												<label for="image">
													<small>
														<h6>Password&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h6>
													</small>
												</label>
											</p>
										</td>
										<td width=15% style="padding-left: 0px">
											<input type="password" name=password />
										</td>
										<td width=60% ></td>
									</tr>
									<tr>
										<table>
											<tr>
												{% if messages %}
													{% for message in messages %}
													<td>
														<div id="respond">
														{% if message.tags == "error" %}
															<p style="color: red;">{{ message }}</p>
														{% elif message.tags == "success" %}
															<p style="color: green;">{{ message }}</p>
														{% endif %}
														</div>
													</td>
													{% endfor %}
												{% endif %}
											</tr>
										</table>
									</tr>
									<tr>
										<td>
											<input type="submit" value="Login" />
										</td>
									</tr>
								</form>
							</table>
						</div>
						<div class="clear"></div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
