<!DOCTYPE html>
<html>
<head>
	<head>
		<title>P&P | Manage User</title>
		<meta charset="utf-8" />
		<link rel="stylesheet" href="/media/styles/elegant-press.css" type="text/css" />
		<style>html,body{margin:0px;}</style>
		<script src="/media/scripts/elegant-press.js" type="text/javascript"></script>
	</head>
	<body>
		<div class="main-container">
			<table cellspacing="0" cellpadding="0" bgcolor="#AFC7C7">
				<tr>
				{% if user.is_authenticated %}
					{% if not user.is_staff %}
						<td width=15% >
							<a href="/{{ user.username }}/HomePage/">
								<img src="/media/images/home.png" />
							</a>
						</td>
						<td width=5% >
							<a href="/{{ user.username }}/GalleryPage/">
								<img src="/media/images/gallary.png" />
							</a>
						</td>
						<td width=5% >
							<a href="/{{ user.username }}/OrderPage/">
								<img src="/media/images/order.png" />
							</a>
						</td>
						<td width=5% >
							<a href="/{{ user.username }}/ContactPage/">
								<img src="/media/images/contact.png" />
							</a>
						</td>
						<td width=45% ></td>
						<td width=10% style="padding-right: 0px">
							<div align=Right>
								<form
									action="/{{ user.username }}/SelfDetailPage/"
									method="post"
								>
								{% csrf_token %}
									<input type="submit" value="{{ user.username }}" />
								</form>
							</div>
						</td>
						<td width=5% style="padding-right: 0px">
							<div align=Right>
								<form action="/AllUserLogoutFunction/" method="post">{% csrf_token %}
									<input type="submit" value="Logout" />
								</form>
							</div>
						</td>
					{% endif %}
					{% if user.is_staff %}
						<td width=15% >
							<a href="/{{ user.username }}/HomePage/">
								<img src="/media/images/home.png" />
							</a>
						</td>
						<td width=10% >
							<div align=Right>
								<a href="/{{ user.username }}/AdminViewAllMemberOrder/">
									<img src="/media/images/Order_List.png" />
								</a>
							</div>
						</td>
						<td width=10% >
							<div align=Right>
								<a href="/{{ user.username }}/AdminViewMemberListPage/">
									<img src="/media/images/Member_List.png" />
								</a>
							</div>
						</td>
						<td width=70% ></td>
						<td width=10% style="padding-right: 0px">
							<div align=Right>
								<form action="/{{ user.username }}/SelfDetailPage/" method="post">
								{% csrf_token %}
									<input type="submit" value="{{ user.username }}" />
								</form>
							</div>
						</td>
						<td width=5% style="padding-right: 0px">
							<div align=Right>
								<form action="/AllUserLogoutFunction/" method="post">{% csrf_token %}
									<input type="submit" value="Logout" />
								</form>
							</div>
						</td>
					{% endif %}
				{% endif %}
				{% if not user.is_authenticated %}
					<td width=15% >
						<a href="/HomePage/">
							<img src="/media/images/home.png" />
						</a>
					</td>
					<td width=5% >
						<a href="/ContactPage/">
							<img src="/media/images/contact.png" />
						</a>
					</td>
					<td width=50% ></td>
					<div align=Right>
						<form method="post" action="/AllUserLoginFunction/">{% csrf_token %}
							<td width=10% style="padding-right: 0px">
								<left>
									<span>Username</span>
								</left>
								<br />
								<input type="text" name=username />
							</td>
							<td width=10% style="padding-right: 0px">
								<left>
									<span>Password</span>
								</left>
								<br />
								<input type="Password" name=password />
							</td>
							<td width=5% style="padding-right: 0px">
								<input type="submit" value="Login" />
							</td>
						</form>
					</div>
					<td width=5% style="padding-right: 0px">
						<div align=Right>
							<form method="post" action="/RegisterPage/">{% csrf_token %}
								<input type="submit" value="Register"  />
							</form>
						</div>
					</td>
				{% endif %}
				</tr>
			</table>
			<div class="clear"></div>
		</div>
		<div class="main-container">
			<div class="container1">
				<table>
					<tr>
						<td width=90% style="padding-Right: 0px">
							<h6>Member list</h6>
						</td>
						<td width=20% style="padding-left: 0px">
							<form action="/{{ user.username }}/AdminViewAllMemberOrder/" method="post">{% csrf_token %}
								<input type="submit" value="Go to Order list" />
							</form>
						</td>
					</tr>
				</table>
				<div class="box">
				{% if messages %}
					<table><tr>
					{% for message in messages %}
						<td>
							<div id="respond">
							{% if message.tags == "error" %}
								<p style="color: red;">{{ message }}</p>
							{% elif message.tags == "success" %}
								<p style="color: green;">{{ message }}</p>
							{% endif %}
							</div>
						</td>
					{% endfor %}
					</tr></table>
				{% endif %}
					<table border="1" cellpadding="0" cellspacing="0">
						<tr bgcolor="#AFC7C7" >
							<td width="25%" style="padding-left: 0px">
								<div align=left>
									<p>Username&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
								</div>
							</td>
							<td width="25%" style="padding-left: 0px">
								<div align=left>
									<p>Firstname&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
								</div>
							</td>
			    			<td width="25%" style="padding-left: 0px">
								<div align=left>
								<p>Lastname&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
								</div>
							</td>
							<td width="20%" style="padding-left: 0px">
								<div align=center>
									<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;E-mail&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
								</div>
							</td>
							<td width="15%" style="padding-left: 0px">
								<div align=center>
									<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Permission&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
								</div>
							</td>
							<td width="10%" style="padding-right: 0px" ><div align=Right></div></td>
							<td width="10%" style="padding-right: 0px" ><div align=Right></div></td>
							<td width="10%" style="padding-right: 0px" ><div align=Right></div></td>
							<td width="10%" style="padding-right: 0px" ><div align=Right></div></td>
						</tr>
						{% for users in USER %}
							<tr id="member" >
								<td width="25%" style="padding-left: 0px">
									<p id="member_username">{{users.user.username}}</p>
								</td>
								<td width="15%" style="padding-left: 0px">
									<p id="member_firstname">{{users.user.first_name}}</p>
								</td>
								<td width="15%" style="padding-left: 0px">
									<p id="member_lastname">{{users.user.last_name}}</p>
								</td>
								<td width="30%" style="padding-left: 0px">
									<div align=center>
										<p id="member_email">{{users.user.email}}</p>
									</div>
								</td>
								<td width="15%" style="padding-left: 0px">
									<div align=center>
										<p id="member_permission">{{users.get_permission_display}}</p>
									</div>
								</td>
								<td width="10%" style="padding-right: 0px">
									<div align=Right>
										<form action="/{{ user.username }}/AdminViewMemberOrder/{{users.user.username}}/" method="post" >{% csrf_token %}
											<input type="hidden" value="{{users.user.username}}" name="username">
											<input type="submit" value="Order">
										</form>
									</div>
								</td>
								<td width="10%" style="padding-right: 0px">
									<div align=Right>
										<form action="/{{ user.username }}/AdminViewMemberAlbums/{{users.user.username}}/" method="post" >{% csrf_token %}
											<input type="hidden" value="{{users.user.username}}" name="username">
											<input type="submit" value="Albums">
										</form>
									</div>
								</td>
								<td width="10%" style="padding-right: 0px">
									<div align=Right>
										<form action="/{{ user.username }}/EditUserDetail/{{users.user.username}}/" method="post" >{% csrf_token %}
											<input type="hidden" name="username_requests" value="{{ user.username }}" >
											<input type="hidden" name="username_edit" value="{{ users.user.username }}" >
											<input type="submit" value="Edit">
										</form>
									</div>
								</td>
								<td width="10%" style="padding-right: 0px">
									<div align=Right>
										<form action="/AdminDeleteUserFunction/" method="post" onsubmit="return confirm('Are you sure to delete this User?')" >{% csrf_token %}
											<input type="hidden" value="{{users.user.username}}" name="username">
											<input type="submit" value="Remove">
										</form>
									</div>
								</td>
							</tr>
						{% endfor %}
					</table>
				</div>
				<div class="clear"></div>
			</div>
		</div>
	</body>
</html>
