<!DOCTYPE html>
<html>
	<head>
		<title>P&P | Edit Detail User</title>
		<meta charset="utf-8" />
		<link rel="stylesheet" href="/media/styles/elegant-press.css" type="text/css" />
		<style>html,body{margin:0px;}</style>
		<script src="/media/scripts/elegant-press.js" type="text/javascript"></script>
	</head>
	<body>
		<div class="main-container">
			<table cellspacing="0" cellpadding="0" bgcolor="#AFC7C7">
				<tr>
				{% if user.is_authenticated %}
					{% if not user.is_staff %}
						<td width=15% >
							<a href="/{{ user.username }}/HomePage/">
								<img src="/media/images/home.png" />
							</a>
						</td>
						<td width=5% >
							<a href="/{{ user.username }}/GalleryPage/">
								<img src="/media/images/gallary.png" />
							</a>
						</td>
						<td width=5% >
							<a href="/{{ user.username }}/OrderPage/">
								<img src="/media/images/order.png" />
							</a>
						</td>
						<td width=5% >
							<a href="/{{ user.username }}/ContactPage/">
								<img src="/media/images/contact.png" />
							</a>
						</td>
						<td width=45% ></td>
						<td width=10% style="padding-right: 0px">
							<div align=Right>
								<form
									action="/{{ user.username }}/SelfDetailPage/"
									method="post"
								>
								{% csrf_token %}
									<input type="submit" value="{{ user.username }}" />
								</form>
							</div>
						</td>
						<td width=5% style="padding-right: 0px">
							<div align=Right>
								<form action="/AllUserLogoutFunction/" method="post">{% csrf_token %}
									<input type="submit" value="Logout" />
								</form>
							</div>
						</td>
					{% endif %}
					{% if user.is_staff %}
						<td width=15% >
							<a href="/{{ user.username }}/HomePage/">
								<img src="/media/images/home.png" />
							</a>
						</td>
						<td width=10% >
							<div align=Right>
								<a href="/{{ user.username }}/AdminViewAllMemberOrder/">
									<img src="/media/images/Order_List.png" />
								</a>
							</div>
						</td>
						<td width=10% >
							<div align=Right>
								<a href="/{{ user.username }}/AdminViewMemberListPage/">
									<img src="/media/images/Member_List.png" />
								</a>
							</div>
						</td>
						<td width=70% ></td>
						<td width=10% style="padding-right: 0px">
							<div align=Right>
								<form action="/{{ user.username }}/SelfDetailPage/" method="post">
								{% csrf_token %}
									<input type="submit" value="{{ user.username }}" />
								</form>
							</div>
						</td>
						<td width=5% style="padding-right: 0px">
							<div align=Right>
								<form action="/AllUserLogoutFunction/" method="post">{% csrf_token %}
									<input type="submit" value="Logout" />
								</form>
							</div>
						</td>
					{% endif %}
				{% endif %}
				{% if not user.is_authenticated %}
					<td width=15% >
						<a href="/HomePage/">
							<img src="/media/images/home.png" />
						</a>
					</td>
					<td width=5% >
						<a href="/ContactPage/">
							<img src="/media/images/contact.png" />
						</a>
					</td>
					<td width=50% ></td>
					<div align=Right>
						<form method="post" action="/AllUserLoginFunction/">{% csrf_token %}
							<td width=10% style="padding-right: 0px">
								<left>
									<span>Username</span>
								</left>
								<br />
								<input type="text" name=username />
							</td>
							<td width=10% style="padding-right: 0px">
								<left>
									<span>Password</span>
								</left>
								<br />
								<input type="Password" name=password />
							</td>
							<td width=5% style="padding-right: 0px">
								<input type="submit" value="Login" />
							</td>
						</form>
					</div>
					<td width=5% style="padding-right: 0px">
						<div align=Right>
							<form method="post" action="/RegisterPage/">{% csrf_token %}
								<input type="submit" value="Register"  />
							</form>
						</div>
					</td>
				{% endif %}
				</tr>
			</table>
			<div class="clear"></div>
		</div>
		<div class="main-container">
			<div class="container1">
				<h6>EDIT DETAIL USER</h6>
				<div class="box">
					<table>
						<form action="/EditUserDetailFunction/" method="post">{% csrf_token %}
							{% if errors %}
								<tr>
									<td>
										<div id="respond">
											<p style="color: red;">{{ errors }}</p>
										</div>
									</td>
								</tr>
							{% endif %}
							{% if success %}
								<tr>
									<td>
										<div id="respond">
											<p style="color: green;">{{ success }}</p>
										</div>
									</td>
								</tr>
							{% endif %}
							{% if USER %}
								{% for USER in USER %}
									<tr>
										<td width=15% style="padding-left: 0px">
											<p>
												<label for="Username">
													<small>
														<h6>Username</h6>
													</small>
												</label>
											</p>
										</td>
										<td width=15% style="padding-left: 0px">
											<input
												type="text"
												name="username"
												value="{{ USER.user.username }}"
											>
											<input
												type="hidden"
												name="oldusername"
												value="{{ USER.user.username }}"
											>
										</td>
										<td width=70% ></td>
									</tr>
									<tr>
										<td width=15% style="padding-left: 0px">
											<p>
												<label for="Firstname">
													<small>
														<h6>Firstname</h6>
													</small>
												</label>
											</p>
										</td>
										<td width=15% style="padding-left: 0px">
											<input
												type="text"
												name="firstname"
												value="{{ USER.user.first_name }}"
											>
										</td>
										<td width=70% ></td>
									</tr>
									<tr>
										<td width=15% style="padding-left: 0px">
											<p>
												<label for="Lastname">
													<small>
														<h6>Lastname</h6>
													</small>
												</label>
											</p>
										</td>
										<td width=15% style="padding-left: 0px">
											<input
												type="text"
												name="lastname"
												value="{{ USER.user.last_name }}"
											>
										</td>
										<td width=70% ></td>
									</tr>
									<tr>
										<td width=15% style="padding-left: 0px">
											<p>
												<label for="Email">
													<small>
														<h6>Email</h6>
													</small>
												</label>
											</p>
										</td>
										<td width=15% style="padding-left: 0px">
											<input
												type="text"
												name="e_mail"
												value="{{ USER.user.email }}"
											>
										</td>
										<td width=70% ></td>
									</tr>
									<tr>
										<td width=15% style="padding-left: 0px">
											<p>
												<label for="password">
													<small>
														<h6>password</h6>
													</small>
												</label>
											</p>
										</td>
										<td width=15% style="padding-left: 0px">
											<input
												type="password"
												name="password"
											>
										</td>
										<td width=70% ></td>
									</tr>
									<tr>
										<td width=15% style="padding-left: 0px">
											<p>
												<label for="password_c">
													<small>
														<h6>Confirm your password</h6>
													</small>
												</label>
											</p>
										</td>
										<td width=15% style="padding-left: 0px">
											<input
												type="password"
												name="password_c"
											>
										</td>
										<td width=70% ></td>
									</tr>
									{% if user.is_staff %}
										<tr>
											<td width=15% style="padding-left: 0px">
												<p>
													<label for="permission">
														<small>
															<h6>Permisssion</h6>
														</small>
													</label>
												</p>
											</td>
											<td width=10% style="padding-left: 0px">
												{% if USER.user.is_staff %}
													<p>
														<input
															type="radio"
															name="permission"
															value="A"
															checked="checked"
														/>
														<small>Administrator</small>
													</p>
													<p>
														<input
															type="radio"
															name="permission"
															value="N"
														/>
														<small>Member</small>
													</p>
												{% endif %}
												{% if not USER.user.is_staff %}
													<p>
														<input
															type="radio"
															name="permission"
															value="A"
														/>
														<small>Administrator</small>
													</p>
													<p>
														<input
															type="radio"
															name="permission"
															value="N"
															checked="checked"
														/>
														<small>Member</small>
													</p>
												{% endif %}
											</td>
											<td width=75%></td>
										</tr>
									{% endif %}
									{% if not user.is_staff %}
										<tr>
											<td width=15% style="padding-left: 0px"></td>
											<td width=10% style="padding-left: 0px">
												<input
													type="hidden"
													name="permission"
													value="N"
												/>
											</td>
											<td width=75%></td>
										</tr>
									{% endif %}
									<tr>
										<td>
											<input type="submit" value="save" />
										</td>
									</tr>
								{% endfor %}
							{% endif %}
						</form>	
					</table>
					<div class="clear"></div>
				</div>
			</div>
		</div>
	</body>
</html>
