<!DOCTYPE html>
<html>
	<head>
		<title>P&P | ALBUM</title>
		<meta charset="utf-8" />
		<link rel="stylesheet" href="/media/styles/elegant-press.css" type="text/css" />
		<style>html,body{margin:0px;}</style>
		<script src="/media/scripts/elegant-press.js" type="text/javascript"></script>
	</head>
    <body>
		<div class="main-container">
			<table cellspacing="0" cellpadding="0" bgcolor="#AFC7C7">
				<tr>
				{% if user.is_authenticated %}
					{% if not user.is_staff %}
						<td width=15% >
							<a href="/{{ user.username }}/HomePage/">
								<img src="/media/images/home.png" />
							</a>
						</td>
						<td width=5% >
							<a href="/{{ user.username }}/GalleryPage/">
								<img src="/media/images/gallary.png" />
							</a>
						</td>
						<td width=5% >
							<a href="/{{ user.username }}/OrderPage/">
								<img src="/media/images/order.png" />
							</a>
						</td>
						<td width=5% >
							<a href="/{{ user.username }}/ContactPage/">
								<img src="/media/images/contact.png" />
							</a>
						</td>
						<td width=45% ></td>
						<td width=10% style="padding-right: 0px">
							<div align=Right>
								<form
									action="/{{ user.username }}/SelfDetailPage/"
									method="post"
								>
								{% csrf_token %}
									<input type="submit" value="{{ user.username }}" />
								</form>
							</div>
						</td>
						<td width=5% style="padding-right: 0px">
							<div align=Right>
								<form action="/AllUserLogoutFunction/" method="post">{% csrf_token %}
									<input type="submit" value="Logout" />
								</form>
							</div>
						</td>
					{% endif %}
					{% if user.is_staff %}
						<td width=15% >
							<a href="/{{ user.username }}/HomePage/">
								<img src="/media/images/home.png" />
							</a>
						</td>
						<td width=10% >
							<div align=Right>
								<a href="/{{ user.username }}/AdminViewAllMemberOrder/">
									<img src="/media/images/Order_List.png" />
								</a>
							</div>
						</td>
						<td width=10% >
							<div align=Right>
								<a href="/{{ user.username }}/AdminViewMemberListPage/">
									<img src="/media/images/Member_List.png" />
								</a>
							</div>
						</td>
						<td width=70% ></td>
						<td width=10% style="padding-right: 0px">
							<div align=Right>
								<form action="/{{ user.username }}/SelfDetailPage/" method="post">
								{% csrf_token %}
									<input type="submit" value="{{ user.username }}" />
								</form>
							</div>
						</td>
						<td width=5% style="padding-right: 0px">
							<div align=Right>
								<form action="/AllUserLogoutFunction/" method="post">{% csrf_token %}
									<input type="submit" value="Logout" />
								</form>
							</div>
						</td>
					{% endif %}
				{% endif %}
				{% if not user.is_authenticated %}
					<td width=15% >
						<a href="/HomePage/">
							<img src="/media/images/home.png" />
						</a>
					</td>
					<td width=5% >
						<a href="/ContactPage/">
							<img src="/media/images/contact.png" />
						</a>
					</td>
					<td width=50% ></td>
					<div align=Right>
						<form method="post" action="/AllUserLoginFunction/">{% csrf_token %}
							<td width=10% style="padding-right: 0px">
								<left>
									<span>Username</span>
								</left>
								<br />
								<input type="text" name=username />
							</td>
							<td width=10% style="padding-right: 0px">
								<left>
									<span>Password</span>
								</left>
								<br />
								<input type="Password" name=password />
							</td>
							<td width=5% style="padding-right: 0px">
								<input type="submit" value="Login" />
							</td>
						</form>
					</div>
					<td width=5% style="padding-right: 0px">
						<div align=Right>
							<form method="post" action="/RegisterPage/">{% csrf_token %}
								<input type="submit" value="Register"  />
							</form>
						</div>
					</td>
				{% endif %}
				</tr>
			</table>
			<div class="clear"></div>
		</div>
	    <div class="main-container">
        	<div class="container1">
            	<div id="gallery" class="box">
				{% if messages %}
				<table>
					<tr>
					{% for message in messages %}
						<td>
							<div id="respond">
							{% if message.tags == "error" %}
								<p style="color: red;">{{ message }}</p>
							{% elif message.tags == "success" %}
								<p style="color: green;">{{ message }}</p>
							{% endif %}
							</div>
						</td>
					{% endfor %}
					</tr>
				</table>
				{% endif %}
                	<ul>
		     			{% if not image_all %}
						<table border="1">
							<tr>
								<td width=65% style="padding-left: 0px">
									<form action="/{{ user.username }}/GalleryPage/" method="post">{% csrf_token %}
										<input type="submit" value="Back to Gallery" />
									</form>
								</td>
								<td width=20% style="padding-right: 0px">
									<form action="/{{ user.username }}/GalleryPage/AlbumName/{{albumname}}/UploadPicturePage/" method="post">{% csrf_token %}
										<input type="hidden" value="{{albumname}}" name="albumname">
										<input type="submit" value="+ Upload more picture" />
									</form>
								</td>
								<td width=15% style="padding-right: 0px">
									<form action="/DeleteAlbumFunction/" method="post" onsubmit="return confirm('Are you sure to delete this album?\nAll pictures in this album will be remove too.')" >{% csrf_token %}
										<input type="hidden" value="{{albumname}}" name="albumname">
										<input type="submit" value="Delete this album" />
									</form>
								</td>
							</tr>
							<tr><td></td></tr>
							<tr>
								<table>
									<td width=20% style="padding-left: 0px">
										<div id='album-name'>
											<h5>{{albumname}}</h5>
										</div>
										<br>
										<h7>Desciption</h7>
									</td>
									<td width=80% style="padding-right: 0px">
										<table>
											<tr>
												<td>
													<div id='album-comment'>					
														<textarea name="comment" form="usrform" rows="2" cols="100">{{comment}}</textarea>
													</div>
												</td>
											</tr>
										</table>
									</td>
								</table>
							</tr>
						</table>
						<table>
							<tr>
								<td>
									<center><a href="/{{ user.username }}/GalleryPage/AlbumName/{{albumname}}/UploadPicturePage/"><img src="/media/images/nothavepic.jpg" /></a></center>
								</td>
							</tr>
						</table>
    	        		{% endif %}
    	                {% if image_all %}
						<table border="1">			
							<tr>
								<td width=65% style="padding-left: 0px">
									<form action="/{{ user.username }}/GalleryPage/" method="post">{% csrf_token %}
										<input type="submit" value="Back to Gallery" />
			                		</form>
								</td>
								<td width=20% style="padding-right: 0px">
	    							<form action="/{{ user.username }}/GalleryPage/AlbumName/{{albumname}}/UploadPicturePage/" method="post">{% csrf_token %}
										<input type="hidden" value="{{albumname}}" name="albumname">
                						<input type="submit" value="+ Upload more picture" />
                					</form>
								</td>
								<td width=15% style="padding-right: 0px">
									<form action="/{{ user.username }}/OrderPage/AlbumName/{{albumname}}/MemberSelectPaperTypePage/{{ user.username }}/" method="post">{% csrf_token %}
										<input type="submit" value="Add this album to print" />
                					</form>
								</td>
								<td width=15% style="padding-right: 0px">
	    							<form action="/DeleteAlbumFunction/" method="post" onsubmit="return confirm('Are you sure to delete this album?\nAll pictures in this album will be remove too.')" >{% csrf_token %}
										<input type="hidden" value="{{albumname}}" name="albumname">
                						<input type="submit" value="Delete this album" />
                					</form>
								</td>
							</tr>
							<tr><td></td></tr>
							<tr>
								<table>
									<td width=20% style="padding-left: 0px">
										<div id='album-name'>
											<h5>{{albumname}}</h5>
										</div>
										<br>
										<h7>Desciption</h7>
									</td>
									<td width=80% style="padding-right: 0px">
										<table>
											<tr>
												<td>
													<div id='album-comment'>					
														<textarea name="comment" form="usrform" rows="2" cols="100">{{comment}}</textarea>
													</div>
												</td>
											</tr>
										</table>
									</td>
								</table>
							<tr>
						</table>
						{% for image_all in image_all %}
						<div style="float:left; width:225px; height: 150px; border: 15px solid #FFF; margin: 15px;">
							<a href="/{{ user.username }}/GalleryPage/AlbumName/{{albumname}}/PictureName/{{image_all.imagename}}/">
							{% if image_all.height > image_all.width %}
							<img src="/media/Account/{{ user.username }}/{{albumname}}/Thumpnail/{{image_all.imagename}}"
								height="150px">
							{% endif %}
							{% if image_all.height < image_all.width %}
							<img src="/media/Account/{{ user.username }}/{{albumname}}/Thumpnail/{{image_all.imagename}}"
								width="225px">
							{% endif %}
							</a>
						</div>
						{% endfor %}
						{% endif %}
		    		</ul>
            		<br class="clear" />
					<div class="pagination">
						<span class="step-links">
							{% if image_all.has_previous %}
								<a href="?page={{ image_all.previous_page_number }}">previous</a>
							{% endif %}
							<span class="current">
								Page {{ image_all.number }} of {{ image_all.paginator.num_pages }}.
								<div id="total-picture"> 
								Total {{image_all.paginator.count}} Picture
								</div>
							</span>
							{% if image_all.has_next %}
								<a href="?page={{ image_all.next_page_number }}">next</a>
							{% endif %}
						</span>
					</div>
        		</div>
        	<div class="clear"></div>
    	</div>
	</body>
</html>
