<!DOCTYPE html>
<html>
    <head>
        <title>P&P | ONEIMAGES</title>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="/media/styles/elegant-press.css" type="text/css" />
        <style>html,body{margin:0px;}</style>
        <script src="/media/scripts/elegant-press.js" type="text/javascript"></script>
    </head>
    <body>
		<div class="main-container">
			<table cellspacing="0" cellpadding="0" bgcolor="#AFC7C7">
				<tr>
				{% if user.is_authenticated %}
					{% if not user.is_staff %}
						<td width=15% >
							<a href="/{{ user.username }}/HomePage/">
								<img src="/media/images/home.png" />
							</a>
						</td>
						<td width=5% >
							<a href="/{{ user.username }}/GalleryPage/">
								<img src="/media/images/gallary.png" />
							</a>
						</td>
						<td width=5% >
							<a href="/{{ user.username }}/OrderPage/">
								<img src="/media/images/order.png" />
							</a>
						</td>
						<td width=5% >
							<a href="/{{ user.username }}/ContactPage/">
								<img src="/media/images/contact.png" />
							</a>
						</td>
						<td width=45% ></td>
						<td width=10% style="padding-right: 0px">
							<div align=Right>
								<form
									action="/{{ user.username }}/SelfDetailPage/"
									method="post"
								>
								{% csrf_token %}
									<input type="submit" value="{{ user.username }}" />
								</form>
							</div>
						</td>
						<td width=5% style="padding-right: 0px">
							<div align=Right>
								<form action="/AllUserLogoutFunction/" method="post">{% csrf_token %}
									<input type="submit" value="Logout" />
								</form>
							</div>
						</td>
					{% endif %}
					{% if user.is_staff %}
						<td width=15% >
							<a href="/{{ user.username }}/HomePage/">
								<img src="/media/images/home.png" />
							</a>
						</td>
						<td width=10% >
							<div align=Right>
								<a href="/{{ user.username }}/AdminViewAllMemberOrder/">
									<img src="/media/images/Order_List.png" />
								</a>
							</div>
						</td>
						<td width=10% >
							<div align=Right>
								<a href="/{{ user.username }}/AdminViewMemberListPage/">
									<img src="/media/images/Member_List.png" />
								</a>
							</div>
						</td>
						<td width=70% ></td>
						<td width=10% style="padding-right: 0px">
							<div align=Right>
								<form action="/{{ user.username }}/SelfDetailPage/" method="post">
								{% csrf_token %}
									<input type="submit" value="{{ user.username }}" />
								</form>
							</div>
						</td>
						<td width=5% style="padding-right: 0px">
							<div align=Right>
								<form action="/AllUserLogoutFunction/" method="post">{% csrf_token %}
									<input type="submit" value="Logout" />
								</form>
							</div>
						</td>
					{% endif %}
				{% endif %}
				{% if not user.is_authenticated %}
					<td width=15% >
						<a href="/HomePage/">
							<img src="/media/images/home.png" />
						</a>
					</td>
					<td width=5% >
						<a href="/ContactPage/">
							<img src="/media/images/contact.png" />
						</a>
					</td>
					<td width=50% ></td>
					<div align=Right>
						<form method="post" action="/AllUserLoginFunction/">{% csrf_token %}
							<td width=10% style="padding-right: 0px">
								<left>
									<span>Username</span>
								</left>
								<br />
								<input type="text" name=username />
							</td>
							<td width=10% style="padding-right: 0px">
								<left>
									<span>Password</span>
								</left>
								<br />
								<input type="Password" name=password />
							</td>
							<td width=5% style="padding-right: 0px">
								<input type="submit" value="Login" />
							</td>
						</form>
					</div>
					<td width=5% style="padding-right: 0px">
						<div align=Right>
							<form method="post" action="/RegisterPage/">{% csrf_token %}
								<input type="submit" value="Register"  />
							</form>
						</div>
					</td>
				{% endif %}
				</tr>
			</table>
			<div class="clear"></div>
		</div>
        <div class="main-container">
            <div class="container1">
                <div id="gallery" class="box">
                    <ul>
		                <table border="1">
                            {% if not image %}
                            <tr>
				                <td width=80%><h5>{{albumname}}</h5></td>
				                <td width=15% style="padding-left: 0px">
                                    <form action="/{{ user.username }}/GalleryPage/AlbumName/{{albumname}}/" method="post" id="usrform1" >{% csrf_token %}
                                        <input type="submit" value="Back to Album" form="usrform1" />
                                    </form>
                                </td>
                                <td width=20% style="padding-right: 0px">
                                    <form action="/{{ user.username }}/GalleryPage/AlbumName/{{albumname}}/UploadPicturePage/" method="post">{% csrf_token %}
                                        <input type="hidden" value="{{albumname}}" name="albumname">
                                        <input type="submit" value="+ Upload more picture" />
                                    </form>
                                </td>
							</tr>
			                <tr>
				                <td colspan="2">
    	            			    <img src="/media/images/nothavepic.jpg" />
				                </td>
			                </tr>
			            </table>
    	        	        {% endif %}
         	                {% if image %}
			                    {% for image in image %}
                                    <tr>
                                        <td width=15% style="padding-left: 0px">
                                            <form action="/{{ user.username }}/GalleryPage/AlbumName/{{albumname}}/" method="post" id="usrform1" >{% csrf_token %}
                                                <input type="submit" value="Back to Album" form="usrform1" />
                                            </form>
                                        </td>
                                        <td width=50%></td>
                                        <td width=20% style="padding-right: 0px">
                                            <form action="/{{ user.username }}/GalleryPage/AlbumName/{{albumname}}/UploadPicturePage/" method="post">{% csrf_token %}
                                                <input type="hidden" value="{{albumname}}" name="albumname">
                                                <input type="submit" value="+ Upload more picture" />
                                            </form>
                                        </td>
                                        <td width=20% style="padding-right: 0px">
                                            <form action="/{{ user.username }}/OrderPage/AlbumName/{{albumname}}/PictureName/{{image.imagename}}/MemberSelectPaperTypePage/{{ user.username }}/" method="post">{% csrf_token %}
                                                <input type="submit" value="Add this image to print" />
                                            </form>
                                        </td>
                                        <td width=15% style="padding-right: 0px">
                                            <form action="/DeletePictureFunction/" method="post" onsubmit="return confirm('Are you sure to delete this Picture ?')" >{% csrf_token %}
                                                <input type="hidden" value="{{image.imagename}}" name="imagename">
                                                <input type="hidden" value="{{albumname}}" name="albumname">
                                                <input type="submit" value="Delete this image" />
                                            </form>
                                        </td>
                                    </tr>
                                </table>
                                <center>
                                    <div id="picture-name">
                                        <h4>{{image.imagename}}</h4>
                                    </div>
                                </center>
                                <img src="/media/Account/{{ user.username }}/{{albumname}}/{{image.imagename}}" width="100%" height="100%">
                                {% endfor %}
                            {% endif %}
		            </ul>
                    <br class="clear" />
                </div>
            <div class="clear"></div>
        </div>
    </body>
</html>
