<!DOCTYPE HTML5>
<html>
	<head>
		<title>P&P | Gallery</title>
		<meta charset="utf-8" />
		<link rel="stylesheet" href="/media/styles/elegant-press.css" type="text/css" />
		<style>html,body{margin:0px;}</style>
		<script src="/media/scripts/elegant-press.js" type="text/javascript"></script>
	</head>
	<body>
		<div class="main-container">
			<table cellspacing="0" cellpadding="0" bgcolor="#AFC7C7">
				<tr>
				{% if user.is_authenticated %}
					{% if not user.is_staff %}
						<td width=15% >
							<a href="/{{ user.username }}/HomePage/">
								<img src="/media/images/home.png" />
							</a>
						</td>
						<td width=5% >
							<a href="/{{ user.username }}/GalleryPage/">
								<img src="/media/images/gallary.png" />
							</a>
						</td>
						<td width=5% >
							<a href="/{{ user.username }}/OrderPage/">
								<img src="/media/images/order.png" />
							</a>
						</td>
						<td width=5% >
							<a href="/{{ user.username }}/ContactPage/">
								<img src="/media/images/contact.png" />
							</a>
						</td>
						<td width=45% ></td>
						<td width=10% style="padding-right: 0px">
							<div align=Right>
								<form
									action="/{{ user.username }}/SelfDetailPage/"
									method="post"
								>
								{% csrf_token %}
									<input type="submit" value="{{ user.username }}" />
								</form>
							</div>
						</td>
						<td width=5% style="padding-right: 0px">
							<div align=Right>
								<form action="/AllUserLogoutFunction/" method="post">{% csrf_token %}
									<input type="submit" value="Logout" />
								</form>
							</div>
						</td>
					{% endif %}
					{% if user.is_staff %}
						<td width=15% >
							<a href="/{{ user.username }}/HomePage/">
								<img src="/media/images/home.png" />
							</a>
						</td>
						<td width=10% >
							<div align=Right>
								<a href="/{{ user.username }}/AdminViewAllMemberOrder/">
									<img src="/media/images/Order_List.png" />
								</a>
							</div>
						</td>
						<td width=10% >
							<div align=Right>
								<a href="/{{ user.username }}/AdminViewMemberListPage/">
									<img src="/media/images/Member_List.png" />
								</a>
							</div>
						</td>
						<td width=70% ></td>
						<td width=10% style="padding-right: 0px">
							<div align=Right>
								<form action="/{{ user.username }}/SelfDetailPage/" method="post">
								{% csrf_token %}
									<input type="submit" value="{{ user.username }}" />
								</form>
							</div>
						</td>
						<td width=5% style="padding-right: 0px">
							<div align=Right>
								<form action="/AllUserLogoutFunction/" method="post">{% csrf_token %}
									<input type="submit" value="Logout" />
								</form>
							</div>
						</td>
					{% endif %}
				{% endif %}
				{% if not user.is_authenticated %}
					<td width=15% >
						<a href="/HomePage/">
							<img src="/media/images/home.png" />
						</a>
					</td>
					<td width=5% >
						<a href="/ContactPage/">
							<img src="/media/images/contact.png" />
						</a>
					</td>
					<td width=50% ></td>
					<div align=Right>
						<form method="post" action="/AllUserLoginFunction/">{% csrf_token %}
							<td width=10% style="padding-right: 0px">
								<left>
									<span>Username</span>
								</left>
								<br />
								<input type="text" name=username />
							</td>
							<td width=10% style="padding-right: 0px">
								<left>
									<span>Password</span>
								</left>
								<br />
								<input type="Password" name=password />
							</td>
							<td width=5% style="padding-right: 0px">
								<input type="submit" value="Login" />
							</td>
						</form>
					</div>
					<td width=5% style="padding-right: 0px">
						<div align=Right>
							<form method="post" action="/RegisterPage/">{% csrf_token %}
								<input type="submit" value="Register"  />
							</form>
						</div>
					</td>
				{% endif %}
				</tr>
			</table>
			<div class="clear"></div>
		</div>
		{% if complete %}
			<script type = "text/javascript">
				alert("Album created.")
			</script>
		{% endif %}
		<div class="main-container">
			<div class="container1">
				<div id="gallery" class="box">
					<ul>
						{% if messages %}
						<table>
							<tr>
							{% for message in messages %}
								<td>
									<div id="respond">
									{% if message.tags == "error" %}
										<p style="color: red;">{{ message }}</p>
									{% elif message.tags == "success" %}
										<p style="color: green;">{{ message }}</p>
									{% endif %}
									</div>
								</td>
							{% endfor %}
							</tr>
						</table>
						{% endif %}

						{% if not Albums %}
							<table>
								<tr>
									<td width=30% style="padding-left: 0px">
										<form
											action="/{{ user.username }}/AddAlbumPage/"
											method="post"
										>{% csrf_token %}
											<input
												type="submit"
												value="Create Albums"
											/>
										</form>
									</td>
									<td width=70% ></td>
								</tr>
							</table>
							<table>
								<tr>
									<td>
										<center>
											<a href="/{{ user.username }}/AddAlbumPage/">
												<img src="/media/images/nothave.jpg" />
											</a>
										</center>
									</td>
								</tr>
							</table>
						{% endif %}
						{% if Albums %}
							<table>
								<tr>
									<td width=30% style="padding-left: 0px">
										<form
											action="/{{ user.username }}/AddAlbumPage/"
											method="post"
										>{% csrf_token %}
											<input
												type="submit"
												value="Create Albums"
											/>
										</form>
									</td>
									<td width=70% ></td>
								</tr>
							</table>
							{% for Albums_all in Albums %}
								<div
									style="float:left; width:225px; height: 175px; border: 15px solid #FFF; margin: 15px;">
									<a href="/{{ user.username }}/GalleryPage/AlbumName/{{Albums_all.albumname}}/">
										<img
											src="{{Albums_all.albumcover}}"
											width="260px"
											height="190px"
										>
									</a>
									<center>
										<h6>{{Albums_all.albumname}}</h6>
									</center>
								</div>
							{% endfor %}
						{% endif %}	
					</ul>
					<table><tr><td></td></tr></table>
					<div class="clear"></div>
					<div class="pagination">
						<span class="step-links">
							{% if Albums.has_previous %}
								<a href="?page={{ Albums.previous_page_number }}">previous</a>
							{% endif %}
							<span class="current">
								Page {{ Albums.number }} of {{ Albums.paginator.num_pages }}.
								<div id="total-album">
									Total {{Albums.paginator.count}} Albums
								</div>
							</span>
							{% if Albums.has_next %}
								<a href="?page={{ Albums.next_page_number }}">next</a>
							{% endif %}
						</span>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
