<!DOCTYPE html>
<html>
	<head>
		<title>P&P | Home</title>
		<meta charset="utf-8" />
		<link rel="stylesheet" href="/media/styles/elegant-press.css" type="text/css" />
		<style>html,body{margin:0px;}</style>
		<script src="/media/scripts/elegant-press.js" type="text/javascript"></script>
	</head>
	<body>
		<div class="main-container">
			<table cellspacing="0" cellpadding="0" bgcolor="#AFC7C7">
				<tr>
				{% if user.is_authenticated %}
					{% if not user.is_staff %}
						<td width=15% >
							<a href="/{{ user.username }}/HomePage/">
								<img src="/media/images/home.png" />
							</a>
						</td>
						<td width=5% >
							<a href="/{{ user.username }}/GalleryPage/">
								<img src="/media/images/gallary.png" />
							</a>
						</td>
						<td width=5% >
							<a href="/{{ user.username }}/OrderPage/">
								<img src="/media/images/order.png" />
							</a>
						</td>
						<td width=5% >
							<a href="/{{ user.username }}/ContactPage/">
								<img src="/media/images/contact.png" />
							</a>
						</td>
						<td width=45% ></td>
						<td width=10% style="padding-right: 0px">
							<div align=Right>
								<form
									action="/{{ user.username }}/SelfDetailPage/"
									method="post"
								>
								{% csrf_token %}
									<input type="submit" value="{{ user.username }}" />
								</form>
							</div>
						</td>
						<td width=5% style="padding-right: 0px">
							<div align=Right>
								<form action="/AllUserLogoutFunction/" method="post">{% csrf_token %}
									<input type="submit" value="Logout" />
								</form>
							</div>
						</td>
					{% endif %}
					{% if user.is_staff %}
						<td width=15% >
							<a href="/{{ user.username }}/HomePage/">
								<img src="/media/images/home.png" />
							</a>
						</td>
						<td width=10% >
							<div align=Right>
								<a href="/{{ user.username }}/AdminViewAllMemberOrder/">
									<img src="/media/images/Order_List.png" />
								</a>
							</div>
						</td>
						<td width=10% >
							<div align=Right>
								<a href="/{{ user.username }}/AdminViewMemberListPage/">
									<img src="/media/images/Member_List.png" />
								</a>
							</div>
						</td>
						<td width=70% ></td>
						<td width=10% style="padding-right: 0px">
							<div align=Right>
								<form action="/{{ user.username }}/SelfDetailPage/" method="post">
								{% csrf_token %}
									<input type="submit" value="{{ user.username }}" />
								</form>
							</div>
						</td>
						<td width=5% style="padding-right: 0px">
							<div align=Right>
								<form action="/AllUserLogoutFunction/" method="post">{% csrf_token %}
									<input type="submit" value="Logout" />
								</form>
							</div>
						</td>
					{% endif %}
				{% endif %}
				{% if not user.is_authenticated %}
					<td width=15% >
						<a href="/HomePage/">
							<img src="/media/images/home.png" />
						</a>
					</td>
					<td width=5% >
						<a href="/ContactPage/">
							<img src="/media/images/contact.png" />
						</a>
					</td>
					<td width=50% ></td>
					<div align=Right>
						<form method="post" action="/AllUserLoginFunction/">{% csrf_token %}
							<td width=10% style="padding-right: 0px">
								<left>
									<span>Username</span>
								</left>
								<br />
								<input type="text" name=username />
							</td>
							<td width=10% style="padding-right: 0px">
								<left>
									<span>Password</span>
								</left>
								<br />
								<input type="Password" name=password />
							</td>
							<td width=5% style="padding-right: 0px">
								<input type="submit" value="Login" />
							</td>
						</form>
					</div>
					<td width=5% style="padding-right: 0px">
						<div align=Right>
							<form method="post" action="/RegisterPage/">{% csrf_token %}
								<input type="submit" value="Register"  />
							</form>
						</div>
					</td>
				{% endif %}
				</tr>
			</table>
			<div class="clear"></div>
		</div>
		<div class="main-container">
			<div class="container">
				<div id="mySlides">
					<div id="slide1">
						<img src="/media/images/slider1.jpg" alt="Slide 1 jFlow Plus" />
							<span>
								<b class="slideheading">เก็บความประทับใจของคุณ</b>
								<br />
								ความทรงจำดีๆนั้นเกิดขึ้นได้ทุกที่ และทุกเวลา
							</span>
					</div>
					<div id="slide2">
						<img src="/media/images/slider2.jpg" alt="Slide 2 jFlow Plus" />
							<span>
								<b class="slideheading">ไม่ว่าจะภาพจากกล้องตัวโปรด</b>
								<br />
								ก็สามารถสั่งอัดได้โดยไม่เสียความละเอียด
							</span>
					</div>
					<div id="slide3">
						<img src="/media/images/slider3.jpg" alt="Slide 3 jFlow Plus" />
							<span>
								<b class="slideheading">หรือ Smartphone คู่ใจ</b>
								<br />
								ก็สามารถสังอัดได้ทุกที่ ทุกเวลา
							</span>
					</div>
					<div id="slide4">
						<img src="/media/images/slider4.jpg" alt="Slide 4 jFlow Plus" />
							<span>
								<b class="slideheading">ในช่วงเวลาที่สำคัญ</b>
								<br />
								ความทรงจำอันมีค่า
							</span>
					</div>
					<div id="slide5">
						<img src="/media/images/slider5.jpg" alt="Slide 5 jFlow Plus" />
							<span>
								<b class="slideheading">ใว้ใจเรา</b>
								<br />
								ช่วยคุณดูแล
							</span>
					</div>
				</div>
				<div id="myController">
					<span class="jFlowControl"></span>
					<span class="jFlowControl"></span>
					<span class="jFlowControl"></span>
					<span class="jFlowControl"></span>
					<span class="jFlowControl"></span>
				</div>
				<section class="jFlowPrev">
					<div></div>
				</section>
				<section class="jFlowNext">
					<div></div>
				</section>
			</div>
		</div>
	</body>
</html>

