<!DOCTYPE html>
<html>
<head>
    <title>P&P | LOG_ORDER</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/media/styles/elegant-press.css" type="text/css" />
    <style>html,body{margin:0px;}</style>
    <script src="/media/scripts/elegant-press.js" type="text/javascript"></script>
</head>
    <body>
		<div class="main-container">
			<table cellspacing="0" cellpadding="0" bgcolor="#AFC7C7">
				<tr>
				{% if user.is_authenticated %}
					{% if not user.is_staff %}
						<td width=15% >
							<a href="/{{ user.username }}/HomePage/">
								<img src="/media/images/home.png" />
							</a>
						</td>
						<td width=5% >
							<a href="/{{ user.username }}/GalleryPage/">
								<img src="/media/images/gallary.png" />
							</a>
						</td>
						<td width=5% >
							<a href="/{{ user.username }}/OrderPage/">
								<img src="/media/images/order.png" />
							</a>
						</td>
						<td width=5% >
							<a href="/{{ user.username }}/ContactPage/">
								<img src="/media/images/contact.png" />
							</a>
						</td>
						<td width=45% ></td>
						<td width=10% style="padding-right: 0px">
							<div align=Right>
								<form
									action="/{{ user.username }}/SelfDetailPage/"
									method="post"
								>
								{% csrf_token %}
									<input type="submit" value="{{ user.username }}" />
								</form>
							</div>
						</td>
						<td width=5% style="padding-right: 0px">
							<div align=Right>
								<form action="/AllUserLogoutFunction/" method="post">{% csrf_token %}
									<input type="submit" value="Logout" />
								</form>
							</div>
						</td>
					{% endif %}
					{% if user.is_staff %}
						<td width=15% >
							<a href="/{{ user.username }}/HomePage/">
								<img src="/media/images/home.png" />
							</a>
						</td>
						<td width=10% >
							<div align=Right>
								<a href="/{{ user.username }}/AdminViewAllMemberOrder/">
									<img src="/media/images/Order_List.png" />
								</a>
							</div>
						</td>
						<td width=10% >
							<div align=Right>
								<a href="/{{ user.username }}/AdminViewMemberListPage/">
									<img src="/media/images/Member_List.png" />
								</a>
							</div>
						</td>
						<td width=70% ></td>
						<td width=10% style="padding-right: 0px">
							<div align=Right>
								<form action="/{{ user.username }}/SelfDetailPage/" method="post">
								{% csrf_token %}
									<input type="submit" value="{{ user.username }}" />
								</form>
							</div>
						</td>
						<td width=5% style="padding-right: 0px">
							<div align=Right>
								<form action="/AllUserLogoutFunction/" method="post">{% csrf_token %}
									<input type="submit" value="Logout" />
								</form>
							</div>
						</td>
					{% endif %}
				{% endif %}
				{% if not user.is_authenticated %}
					<td width=15% >
						<a href="/HomePage/">
							<img src="/media/images/home.png" />
						</a>
					</td>
					<td width=5% >
						<a href="/ContactPage/">
							<img src="/media/images/contact.png" />
						</a>
					</td>
					<td width=50% ></td>
					<div align=Right>
						<form method="post" action="/AllUserLoginFunction/">{% csrf_token %}
							<td width=10% style="padding-right: 0px">
								<left>
									<span>Username</span>
								</left>
								<br />
								<input type="text" name=username />
							</td>
							<td width=10% style="padding-right: 0px">
								<left>
									<span>Password</span>
								</left>
								<br />
								<input type="Password" name=password />
							</td>
							<td width=5% style="padding-right: 0px">
								<input type="submit" value="Login" />
							</td>
						</form>
					</div>
					<td width=5% style="padding-right: 0px">
						<div align=Right>
							<form method="post" action="/RegisterPage/">{% csrf_token %}
								<input type="submit" value="Register"  />
							</form>
						</div>
					</td>
				{% endif %}
				</tr>
			</table>
			<div class="clear"></div>
		</div>
		<div class="main-container">
			<div class="container1">
				<table>
					<tr><td width=90% style="padding-Right: 0px"><h6>Order list</h6></td>
						<td width=20% style="padding-left: 0px">
							<form action="/{{ user.username }}/AdminViewMemberListPage/" method="post">{% csrf_token %}
								<input type="submit" value="Back to Member list" />
							</form>
					</td>
				</tr>
			</table>
			<div class="box">
				{% if messages %}
					<table><tr>
					{% for message in messages %}
						<td>
							<div id="respond">
							{% if message.tags == "error" %}
								<p style="color: red;">{{ message }}</p>
							{% elif message.tags == "success" %}
								<p style="color: green;">{{ message }}</p>
							{% endif %}
							</div>
						</td>
					{% endfor %}
					</tr></table>
				{% endif %}
			<table>
				<tr>
					<td width="97%" style="padding-left: 0px">
						<div align=left>{{ view_option }}</div>
					</td>
					<td width="2%" style="padding-right: 0px">
						<div align=right><a href="/{{ user.username }}/AdminViewAllMemberOrder/"><img src="/media/images/refresh.png" /><a></div>
					</td>
					<td width="2%" style="padding-right: 0px">
						<div align=right><a href="/{{ user.username }}/AdminViewAllMemberOrder/"><p>Refresh</p></a></div>
					</td>
				</tr>
			</table>
			<table border="1" cellpadding="0" cellspacing="0">
				<tr bgcolor="#AFC7C7" >
					<td width="10%" style="padding-center: 0px">
						<div align=left><a href="/{{ user.username }}/AdminViewMemberOrderBySeleteOption/">Date,Time</a></td>
					<td width="5%" style="padding-left: 0px">
						<div align=center><a href="/{{ user.username }}/AdminViewMemberOrderBySeleteOption/">User</a></td>
					<td width="5%" style="padding-left: 0px">
						<div align=center><a href="/{{ user.username }}/AdminViewMemberOrderBySeleteOption/">Status</a></td>
					<td width="5%" style="padding-left: 0px">
						<div align=center><a href="/{{ user.username }}/AdminViewMemberOrderBySeleteOption/">Surface</a></td>
					<td width="5%" style="padding-left: 0px">
						<div align=center><a href="/{{ user.username }}/AdminViewMemberOrderBySeleteOption/">Type</a></td>
					<td width="5%" style="padding-left: 0px">
						<div align=center><a href="/{{ user.username }}/AdminViewMemberOrderBySeleteOption/">Margin</a></td>
					<td width="5%" style="padding-left: 0px">
						<div align=center><a href="/{{ user.username }}/AdminViewMemberOrderBySeleteOption/">Size</a></td>
					<td width="5%" style="padding-left: 0px">
						<div align=center><a href="/{{ user.username }}/AdminViewMemberOrderBySeleteOption/">Price</a></td>
			    	<td width="10%" style="padding-right: 0px" >
						<div align=center>Paid Checked</div></td>
			    	<td width="5%" style="padding-right: 0px" >
						<div align=center>Confirmed</div></td>
			    	<td width="5%" style="padding-right: 0px" ><div align=Right></div></td>
					<td width="5%" style="padding-right: 0px" ><div align=Right></div></td>
				</tr>
				<tr><td></td></tr>
				{% for order in order %}
				<tr id="order">
					<td width="10%" style="padding-left: 0px"><div id="order-time" align=left><a href="/{{ user.username }}/AdminViewMemberOrderExtend/{{order.user.user.username}}/{{order.date_time|date:'c'}}/">{{order.date_time|date:'d/n/y G:i:s'}}</a></div></td>
					<td width="5%" style="padding-center: 0px"><div id="order-username" align=center><a href="/{{ user.username }}/AdminViewMemberOrderExtend/{{order.user.user.username}}/{{order.date_time|date:'c'}}/">{{order.user.user.username}}</a></div></td>
					<td width="5%" style="padding-center: 0px"><div id="order-status" align=center><a href="/{{ user.username }}/AdminViewMemberOrderExtend/{{order.user.user.username}}/{{order.date_time|date:'c'}}/">{{order.get_status_display}}</a></div></td>
					<td width="5%" style="padding-center: 0px"><div id="order-surface" align=center><a href="/{{ user.username }}/AdminViewMemberOrderExtend/{{order.user.user.username}}/{{order.date_time|date:'c'}}/">{{order.get_paper_surface_display}}</a></div></td>
					<td width="5%" style="padding-center: 0px"><div id="order-type" align=center><a href="/{{ user.username }}/AdminViewMemberOrderExtend/{{order.user.user.username}}/{{order.date_time|date:'c'}}/">{{order.get_paper_type_display}}</a></div></td>
					<td width="5%" style="padding-center: 0px"><div id="order-margin" align=center><a href="/{{ user.username }}/AdminViewMemberOrderExtend/{{order.user.user.username}}/{{order.date_time|date:'c'}}/">{{order.get_paper_margin_display}}</a></div></td>
					<td width="5%" style="padding-center: 0px"><div id="order-size" align=center><a href="/{{ user.username }}/AdminViewMemberOrderExtend/{{order.user.user.username}}/{{order.date_time|date:'c'}}/">{{order.get_paper_size_display}}</a></div></td>
					<td width="5%" style="padding-center: 0px" ><div id="order-price"align=left><a href="/{{ user.username }}/AdminViewMemberOrderExtend/{{order.user.user.username}}/{{order.date_time|date:'c'}}/">{{order.price_total}} Baht</a></div></td>
			    	{% if order.payment_is_checked == True %}
					<td width="10%" style="padding-center: 0px"><div id="order-paid-checked" align=center>YES</div></td>
			    	{% endif %}
					{% if order.payment_is_checked == False %}
					<td width="10%" style="padding-center: 0px"><div id="order-paid-checked" align=center>NO</div></td>
			    	{% endif %}
					{% if order.payment_is_confirm == True %}
					<td width="5%" style="padding-left: 0px">
						<div align=Right>
							<form action="/{{ user.username }}/AdminViewMemberConfirmOrderDetail/{{order.user.user.username}}/{{order.date_time|date:'c'}}/" method="post" >{% csrf_token %}
								<input type="hidden" value="{{order.user.user.username}}" name="username">
								<input type="hidden" value="{{order.date_time|date:'c'}}" name="date_time">
								<input type="submit" value="Confirm Detail">
							</form>
						</div>
					</td>
					{% endif %}
					{% if order.payment_is_confirm == False %}
					<td width="5%" style="padding-center: 0px"><div id="order-is-confirm" align=center>NO</div></td>
					{% endif %}
			    	<td width="5%" style="padding-right: 0px">
					<div align=Right>
						<form action="/AllUserDownloadZipFileFunction/" method="post" >{% csrf_token %}
							<input type="hidden" value="{{order.user.user.username}}" name="username">
							<input type="hidden" value="{{order.date_time|date:'c'}}" name="datetime">
							<input type="submit" value="Download">
						</form>
					</div>
					</td>
					<td width="5%" style="padding-right: 0px">
					<div align=Right>
						<form action="/{{ user.username }}/AdminEditOrderStatusPage/{{order.user.user.username}}/{{order.date_time|date:'c'}}/" method="post" >{% csrf_token %}
							<input type="hidden" value="{{order.user.user.username}}" name="username_order">
							<input type="hidden" value="{{order.date_time|date:'c'}}" name="datetime_order">
							<input type="submit" value="Edit Status">
						</form>
					</div>
					</td>
				</tr>

				{% endfor %}

			</table>
		</div>
		<div class="clear"></div>
	</body>
</html>
