<!DOCTYPE html>
<html>
	<head>
	    <title>P&P | Edit Order Image Status</title>
	    <meta charset="utf-8" />
	    <link rel="stylesheet" href="/media/styles/elegant-press.css" type="text/css" />
	    <style>html,body{margin:0px;}</style>
	    <script src="/media/scripts/elegant-press.js" type="text/javascript"></script>
	</head>
    <body>
		<div class="main-container">
			<table cellspacing="0" cellpadding="0" bgcolor="#AFC7C7">
				<tr>
				{% if user.is_authenticated %}
					{% if not user.is_staff %}
						<td width=15% >
							<a href="/{{ user.username }}/HomePage/">
								<img src="/media/images/home.png" />
							</a>
						</td>
						<td width=5% >
							<a href="/{{ user.username }}/GalleryPage/">
								<img src="/media/images/gallary.png" />
							</a>
						</td>
						<td width=5% >
							<a href="/{{ user.username }}/OrderPage/">
								<img src="/media/images/order.png" />
							</a>
						</td>
						<td width=5% >
							<a href="/{{ user.username }}/ContactPage/">
								<img src="/media/images/contact.png" />
							</a>
						</td>
						<td width=45% ></td>
						<td width=10% style="padding-right: 0px">
							<div align=Right>
								<form
									action="/{{ user.username }}/SelfDetailPage/"
									method="post"
								>
								{% csrf_token %}
									<input type="submit" value="{{ user.username }}" />
								</form>
							</div>
						</td>
						<td width=5% style="padding-right: 0px">
							<div align=Right>
								<form action="/AllUserLogoutFunction/" method="post">{% csrf_token %}
									<input type="submit" value="Logout" />
								</form>
							</div>
						</td>
					{% endif %}
					{% if user.is_staff %}
						<td width=15% >
							<a href="/{{ user.username }}/HomePage/">
								<img src="/media/images/home.png" />
							</a>
						</td>
						<td width=10% >
							<div align=Right>
								<a href="/{{ user.username }}/AdminViewAllMemberOrder/">
									<img src="/media/images/Order_List.png" />
								</a>
							</div>
						</td>
						<td width=10% >
							<div align=Right>
								<a href="/{{ user.username }}/AdminViewMemberListPage/">
									<img src="/media/images/Member_List.png" />
								</a>
							</div>
						</td>
						<td width=70% ></td>
						<td width=10% style="padding-right: 0px">
							<div align=Right>
								<form action="/{{ user.username }}/SelfDetailPage/" method="post">
								{% csrf_token %}
									<input type="submit" value="{{ user.username }}" />
								</form>
							</div>
						</td>
						<td width=5% style="padding-right: 0px">
							<div align=Right>
								<form action="/AllUserLogoutFunction/" method="post">{% csrf_token %}
									<input type="submit" value="Logout" />
								</form>
							</div>
						</td>
					{% endif %}
				{% endif %}
				{% if not user.is_authenticated %}
					<td width=15% >
						<a href="/HomePage/">
							<img src="/media/images/home.png" />
						</a>
					</td>
					<td width=5% >
						<a href="/ContactPage/">
							<img src="/media/images/contact.png" />
						</a>
					</td>
					<td width=50% ></td>
					<div align=Right>
						<form method="post" action="/AllUserLoginFunction/">{% csrf_token %}
							<td width=10% style="padding-right: 0px">
								<left>
									<span>Username</span>
								</left>
								<br />
								<input type="text" name=username />
							</td>
							<td width=10% style="padding-right: 0px">
								<left>
									<span>Password</span>
								</left>
								<br />
								<input type="Password" name=password />
							</td>
							<td width=5% style="padding-right: 0px">
								<input type="submit" value="Login" />
							</td>
						</form>
					</div>
					<td width=5% style="padding-right: 0px">
						<div align=Right>
							<form method="post" action="/RegisterPage/">{% csrf_token %}
								<input type="submit" value="Register"  />
							</form>
						</div>
					</td>
				{% endif %}
				</tr>
			</table>
			<div class="clear"></div>
		</div>
	    <div class="main-container">
			<div class="container1">
		    	<h6>Edit Order Status</h6>
		    		<div class="box">
						<table>
			                <form action="/AdminEditOrderStatusFunction/" method="post">{% csrf_token %}
							<tr>
								<td width=30% style="padding-left: 0px"></td>
								<td width=80% >
							       <input type="hidden" name="username_order" value="{{username_order}}" />
							       <input type="hidden" name="datetime_order" value="{{datetime_order}}" />
								</td>
							</tr>
							{% if errors %}
							<tr>
								<td>
									<div id="respond">
										<p style="color: red;">{{ errors }}</p>
									</div>
								</td>
							{% endif %}
							{% if success %}
								<td>
									<div id="respond">
										<p style="color: green;">{{ success }}</p>
									</div>
								</td>
							</tr>
							{% endif %}
							<tr>
								{% if user.is_staff %}
									<td width=15% style="padding-left: 0px">
										<p>
											<label for="order_status"><small><h6>Status</h6></small></label>
										</p>
									</td>
									<td width=15% style="padding-left: 0px">
										{% for radio in paper.status %}
										<div id="order_status">{{ radio }}</div>
										{% endfor %}
									</td>
									<td width=70% ></td>
								{% endif %}
							</tr>
							<tr>
								<td>
									<input type="submit" value="Save" />
								</td>
							</tr>
						</table>
			        </div>
		            <div class="clear"></div>
		    </div>
		</div>
	</body>
</html>
